<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students List</title>
</head>

<body>
    <h1>Students List</h1>
    <table border="2" width="100%">
        <tr>
            <th>S.No</th>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
        </tr>
        <% if(students.length > 0) { %>
            
            <% for(let i = 0; i < students.length; i++) { %>

                <tr>
                    <td><%- students[i].ID %></td>
                    <td><%- students[i].NAME %></td>
                    <td><%- students[i].EMAIL %></td>
                    <td><%- students[i].MOBILE %></td>

                    <td>
                        <a href="#" onclick="delete_record(this, <%- students[i].ID %>)">Delete</a>
                        <!-- <a href="/update-student?id=<%- students[i].ID %>">Update</a> -->
                    </td>
                </tr>

            <% } %>

        <% }else { %>
            <h1>Students data NOT found</h1>
        <% } %>
        
    </table>
    <div style="color: red;" id="response"></div>
</body>
<script>
    delete_record = (obj, id) =>{
        let req = new XMLHttpRequest();
        req.open("GET", "/delete-student?id="+id, true);
        req.send();

        req.onreadystatechange = ()=>{
            if(req.readyState == 4 && req.status == 200){
                document.getElementById("response").innerHTML = req.responseText;
                obj.parentElement.parentElement.remove();
            }
        }
    }
</script>
</html>